body {
    background-color:white;
}

.container { display: flex;
            justify-content: center;
            align-items: center;
}
.container .grid {
    border:1px solid black;
    margin: 0px;
    flex: 1 1 a;
    padding: 0px;
    height: 20px;
    width: 20px;
}